body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://img1.picmix.com/output/stamp/normal/7/8/4/3/1593487_6b558.gif");
  }
  h1 {
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(7, 4, 7);
    color: aliceblue;
  }
  img {
    display: block;
    margin: 20px auto; 
    height: 150px;
  }
  #score{
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }
  #result{
   color: rgb(255, 0, 0);
 
  }